/**
 * Mobile menu
 * --------------------------------------------------------------------------- */

@media only screen and (max-width: 479px) {

    // Mobile Primary Menu

    #menu-primary {
        text-align: center;
        .wrap {
            position: relative;
            z-index: 999;
            display: none; // visibility will be toggled with jquery
            clear: both;
            width: 100%;
            margin: 0.938em auto 0;
            padding: 0.938em 0 0 0;
            text-align: left;
        }
    }

    .menu-toggle {
        position: relative;
        display: block;
        cursor: pointer;
        margin: auto;
        padding: 5px 0;
        font-size: 16px;
        font-size: 1rem;
        &:hover,
        &.active {
            color: $black;
            text-decoration: underline;
            background-position: 0 -21px;
        }
    }

}